Repository 5GoInMul-Transcendence/ft_transcendence, pull requests merged in 2023-09, with the labels that each got.

#183 [Fix] Session maxage 수정
  back/web-app/src/session/session.middleware.ts
Labels: fix

#184 Feat: api add channel and get all channels #176
  back/web-app/src/app.module.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/add-channel-req.dto.ts
  back/web-app/src/channels/channel/dto/create-channel-req.dto.ts
  back/web-app/src/channels/channel/dto/create-link-channel-to-user-req.dto.ts
  back/web-app/src/channels/channel/entity/channel.entity.ts
  back/web-app/src/channels/channel/entity/link-channel-to-user.entity.ts
  back/web-app/src/channels/channel/enum/channel-role.enum.ts
  back/web-app/src/channels/channels.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/channels/channels.service.ts
  back/web-app/src/users/user/entities/user.entity.ts
Labels: enhancement, back-end

#192 [Feat] chatting socket#189
  front/src/app/(auth)/login/page.tsx
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/[channelId]/ChannelChatting.tsx
  front/src/app/(main)/chats/[channelId]/ChannelEdit.tsx
  front/src/app/(main)/chats/[channelId]/ChatItem.tsx
  front/src/app/(main)/chats/[channelId]/page.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/api/channel/[channelId]/data.json
  front/src/component/Modal/AuthMail.tsx
  front/src/component/Modal/CreateChannel.tsx
  front/src/component/Modal/EnterChannel.tsx
  front/src/component/Modal/SetChannel.tsx
  front/src/component/Modal/SetUser.tsx
  front/src/types/IChannel.ts
  front/src/utils/AxiosApiHadling.tsx
  front/src/utils/recoil/atom.ts
Labels: front-end

#186 Feat/api get my channels#147
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/add-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/my-channels.dto.ts
  back/web-app/src/channels/channel/dto/recent-message.dto.ts
  back/web-app/src/channels/channel/entity/channel.entity.ts
  back/web-app/src/channels/channel/entity/link-channel-to-user.entity.ts
  back/web-app/src/channels/channel/entity/message.entity.ts
  back/web-app/src/channels/channels.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/channels/channels.service.ts
  back/web-app/src/users/user/entities/user.entity.ts
  back/web-app/src/users/user/user.controller.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#190 feat/API - check a channel, validate channel password, send message
  back/web-app/src/app.module.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/create-link-channel-to-user-req.dto.ts
  back/web-app/src/channels/channel/dto/send-message-req.dto.ts
  back/web-app/src/channels/channel/dto/send-message.dto.ts
  back/web-app/src/channels/channel/entity/channel.entity.ts
  back/web-app/src/channels/channel/entity/message.entity.ts
  back/web-app/src/channels/channels.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/channels/channels.service.ts
  back/web-app/src/common/hash/hash.module.ts
  back/web-app/src/common/hash/hash.service.ts
  back/web-app/src/common/response/api-response-form.ts
  back/web-app/src/common/response/fail/http-exception.filter.ts
  back/web-app/src/login/login.controller.ts
  back/web-app/src/login/login.module.ts
  back/web-app/src/message/entity/message.entity.ts
  back/web-app/src/message/message.module.ts
  back/web-app/src/message/message.service.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.module.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/users/user/entities/user.entity.ts
Labels: enhancement, back-end

#199 Feat/image upload#191
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/test/page.tsx
Labels: front-end

#202 [Feat] API - 아바타 업데이트
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/public/avatar/default
  back/web-app/src/app.module.ts
  back/web-app/src/common/image/image.config.ts
  back/web-app/src/common/image/image.module.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/me/me.module.ts
  back/web-app/src/users/user/user.module.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#207 [Feat] LadderService 구현
  back/web-app/src/ladder/dto/find-ladder.dto.ts
  back/web-app/src/ladder/dto/update-ladder.dto.ts
  back/web-app/src/ladder/entities/ladder.entity.ts
  back/web-app/src/ladder/ladder-level-table.ts
  back/web-app/src/ladder/ladder.module.ts
  back/web-app/src/ladder/ladder.service.ts
Labels: enhancement, back-end

#209 [Feat] AchievementService 구현
  back/web-app/public/achievement/1001
  back/web-app/public/achievement/1002
  back/web-app/public/achievement/1003
  back/web-app/public/achievement/1004
  back/web-app/src/achievement/achievement-grade.ts
  back/web-app/src/achievement/achievement.module.ts
  back/web-app/src/achievement/achievement.service.ts
  back/web-app/src/achievement/dto/find-achievement.dto.ts
  back/web-app/src/achievement/dto/update-achievement.dto.ts
  back/web-app/src/achievement/entities/achievement.entity.ts
  back/web-app/src/achievement/enums/achievement-type.enum.ts
  back/web-app/src/achievement/table/achievement-element.ts
  back/web-app/src/achievement/table/achievement-table.provider.ts
  back/web-app/src/achievement/table/achievement-table.ts
  back/web-app/src/achievement/table/object/gaem-win-table.ts
  back/web-app/src/app.module.ts
  back/web-app/src/users/user/user.module.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#219 [Feat] match game#180
  docker/front/srcs/requirements/nextjs/src/app/(main)/profile/[user]/AchievementItem.tsx
  docker/front/srcs/requirements/nextjs/src/component/ProfileImage/index.tsx
  front/next.config.js
  front/src/app/(auth)/login/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(main)/history/[user]/MatchResult.tsx
  front/src/app/(main)/history/[user]/page.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/main/page.tsx
  front/src/app/(main)/myprofile/AchievementItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/myprofile/history/page.tsx
  front/src/app/(main)/profile/[user]/history/MatchResult.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/(main)/startgame/DotLoading.tsx
  front/src/app/(main)/startgame/GameMode.tsx
  front/src/app/(main)/startgame/loading/page.tsx
  front/src/app/(main)/startgame/page.tsx
  front/src/app/api/match/data.json
  front/src/app/game/Board.tsx
  front/src/app/game/GameBoard.tsx
  front/src/app/game/GameEnd.tsx
  front/src/app/game/StandByGame.tsx
  front/src/app/game/page.tsx
  front/src/app/layout.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Modal/MatchAccept.tsx
  front/src/component/Modal/index.tsx
  front/src/component/ProfileImage/index.tsx
  front/src/hooks/useSwrFetcher.ts
  front/src/types/IGame.ts
  front/src/types/IGameObject.ts
  front/src/types/IHistory.ts
  front/src/types/IMatch.ts
  front/src/types/IScore.ts
  front/tsconfig.json
Labels: front-end

#225 Fix/qa test#221
  front/next.config.js
  front/src/app/(auth)/2fa/page.tsx
  front/src/app/(auth)/login/page.tsx
  front/src/app/(main)/myprofile/edit/AuthSelect.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/game/page.tsx
  front/src/app/layout.tsx
  front/src/component/Modal/AuthMail.tsx
  front/src/component/Modal/AuthPhone.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/hooks/useSwrFetcher.ts
  front/src/utils/AxiosApiHadling.tsx
Labels: front-end

#197 Feat/api enter channel#195
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/check-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/create-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/create-dm-channel-req.dto.ts
  back/web-app/src/channels/channel/dto/create-link-channel-to-user-req.dto.ts
  back/web-app/src/channels/channel/dto/create-protected-channel-req.dto.ts
  back/web-app/src/channels/channel/dto/create-public-channel-req.dto.ts
  back/web-app/src/channels/channel/dto/enter-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/get-create-dm-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/recent-message-at-enter.dto.ts
  back/web-app/src/channels/channel/dto/send-message.dto.ts
  back/web-app/src/channels/channel/entities/ban.entity.ts
  back/web-app/src/channels/channel/entities/channel.entity.ts
  back/web-app/src/channels/channel/entities/link-channel-to-user.entity.ts
  back/web-app/src/channels/channel/enum/channel-mode.enum.ts
  back/web-app/src/channels/channel/exception/channel-exception.service.ts
  back/web-app/src/channels/channels.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/channels/channels.service.ts
  back/web-app/src/common/hash/hash.service.ts
  back/web-app/src/common/response/fail/http-exception.filter.ts
  back/web-app/src/common/response/success-or-redirection/response.interceptor.ts
  back/web-app/src/message/entities/message.entity.ts
  back/web-app/src/message/message.module.ts
  back/web-app/src/message/message.service.ts
  back/web-app/src/users/user/entities/user.entity.ts
Labels: enhancement, back-end

#220 [Feat] Validation - 유효성 검사
  back/web-app/src/auth/dto/auth-mail-req.dto.ts
  back/web-app/src/auth/dto/auth-phone-req.dto.ts
  back/web-app/src/common/response/fail/http-exception.filter.ts
  back/web-app/src/common/validation/nickname.validation.ts
  back/web-app/src/common/validation/phonenumber.validation.ts
  back/web-app/src/friend/dto/add-friend-req.dto.ts
  back/web-app/src/main.ts
  back/web-app/src/signup/dto/signup-member-req.dto.ts
  back/web-app/src/users/me/dto/update-nickname-req.dto.ts
Labels: enhancement, back-end

#215 [fix] MainUserService 수정
  back/web-app/src/main/mainuser/main-user.service.ts
Labels: enhancement, back-end

#216 [Refactor] API - 마이 프로필
  back/web-app/src/achievement/achievement.module.ts
  back/web-app/src/ladder/ladder.module.ts
  back/web-app/src/users/me/dto/game-record.dto.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/me/me.module.ts
Labels: enhancement, back-end

#224 [Fix] API - 아바타 업데이트 수정 (파일 사이즈 제한)
  back/web-app/src/common/image/image.config.ts
Labels: enhancement, back-end

#222 [Feat] API - 로그인 인증페이지 리다이렉트
  back/web-app/src/app.module.ts
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/auth/auth.module.ts
  back/web-app/src/common/response/redirect-resource.enum.ts
  back/web-app/src/login/login.controller.ts
  back/web-app/src/login/login.module.ts
  back/web-app/src/login/login.service.ts
Labels: enhancement, back-end

#228 [Refactor] API - 닉네임 수정시 친구정보 업데이트
  back/web-app/src/users/me/me.controller.ts
Labels: enhancement, back-end

#218 [Feat] API - 게임 히스토리 조회
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/game/dto/add-game-history.dto.ts
  back/web-app/src/game/dto/find-game-history-by-userid.dto.ts
  back/web-app/src/game/dto/find-game-history-res.dto.ts
  back/web-app/src/game/entities/game-history.entity.ts
  back/web-app/src/game/game.controller.ts
  back/web-app/src/game/game.module.ts
  back/web-app/src/game/game.service.ts
  back/web-app/src/users/user/entities/user.entity.ts
Labels: enhancement, back-end

#231 feat: 표시할 메시지 시간 순 정렬 변경#277
  back/web-app/src/message/message.service.ts
  back/web-app/src/users/user/user.controller.ts
Labels: enhancement, back-end

#226 Feat/mod chatting page
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/[channelId]/ChannelChatting.tsx
  front/src/app/(main)/chats/[channelId]/ChatItem.tsx
  front/src/app/(main)/chats/[channelId]/page.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/component/Modal/CreateChannel.tsx
  front/src/component/Modal/EnterChannel.tsx
  front/src/utils/recoil/atom.ts
Labels: front-end

#234 Fix/qa test#221
  docker/front/srcs/requirements/nextjs/src/app/(auth)/signup/page.tsx
  front/src/app/(auth)/2fa/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(main)/history/[user]/page.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/profile/[user]/AchievementItem.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/(main)/startgame/DotLoading.tsx
  front/src/app/(main)/startgame/GameMode.tsx
  front/src/app/(main)/startgame/loading/page.tsx
  front/src/app/(main)/startgame/page.tsx
  front/src/app/game/Board.tsx
  front/src/app/game/GameEnd.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Modal/AddFriend.tsx
  front/src/component/Modal/AuthMail.tsx
  front/src/component/Modal/AuthPhone.tsx
  front/src/component/Modal/MatchAccept.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/component/Modal/index.tsx
  front/src/hooks/useGameSocket.ts
  front/src/types/IUser.tsx
  front/src/utils/AxiosApiHadling.tsx
  front/src/utils/recoil/atom.ts
Labels: front-end

#238 [Refactor] Game 결과 로직 수정
  back/game-app/src/game/game-process-unit.ts
  back/game-app/src/game/game.service.ts
Labels: refactor, back-end

#235 Feat/api leave channel#196
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/update-role-at-leave-owner-req.dto.ts
  back/web-app/src/channels/channel/dto/update-role-in-link.dto.ts
  back/web-app/src/channels/channel/link-channel-to-user.service.ts
  back/web-app/src/channels/channels.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/message/message.service.ts
Labels: enhancement, back-end

#246 Fix/qa test#221
  front/src/app/(main)/history/[user]/MatchResult.tsx
  front/src/app/(main)/history/[user]/page.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/component/MatchItem/index.tsx
  front/src/styles/theme.ts
  front/src/types/IHistory.ts
  front/src/types/IMatch.ts
Labels: front-end

#236 [Refactor] API - 마이 프로필 조회 (래더 레벨 수정)
  back/web-app/src/ladder/dto/find-ladder-return.dto.ts
  back/web-app/src/ladder/ladder.service.ts
  back/web-app/src/users/me/dto/game-record.dto.ts
  back/web-app/src/users/me/me.controller.ts
Labels: refactor, back-end

#233 [Refactor] API - 상대방 프로필 조회 업데이트
  back/web-app/src/users/user/user.controller.ts
  back/web-app/src/users/user/user.module.ts
Labels: refactor, back-end

#245 feat: api-get-channel-information, updateChannelSetting 구현 완료#239
  back/web-app/src/channels/channel/channel-setting.service.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/get-channel-information-res.dto.ts
  back/web-app/src/channels/channel/dto/update-channel-setting-req.dto.ts
  back/web-app/src/channels/channel/exception/channel-exception.service.ts
  back/web-app/src/channels/channel/link-channel-to-user.service.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/common/hash/hash.service.ts
Labels: enhancement, back-end

#243 [Refactor] 게임 종료 후 히스토리 추가
  back/web-app/src/game/game.service.ts
Labels: refactor, back-end

#257 [Feat] ChatServer 구현
  back/web-app/src/app.module.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/chat/chat.gateway.ts
  back/web-app/src/chat/chat.module.ts
  back/web-app/src/chat/chat.service.ts
  back/web-app/src/chat/dto/add-all-channel-res.dto.ts
  back/web-app/src/chat/dto/add-my-channel-res.dto.ts
  back/web-app/src/chat/dto/delete-channel-res.dto.ts
  back/web-app/src/chat/dto/send-chat-message.dto.ts
  back/web-app/src/chat/dto/update-all-channel.dto.ts
  back/web-app/src/chat/dto/update-my-channel-res.dto.ts
  back/web-app/src/chat/dto/update-my-channel.dto.ts
  back/web-app/src/chat/enums/chat-event.enum.ts
Labels: enhancement, back-end

#265 [Feat] API - 매치 신청 (re)
  back/web-app/src/main/main.gateway.ts
  back/web-app/src/main/match/dto/invite-match.dto.ts
  back/web-app/src/main/match/match-group.ts
  back/web-app/src/main/match/match.service.ts
Labels: enhancement, back-end

#267 [Refactor] 이미지 업로드 업데이트 (확장자 필터 문제 해결)
  back/web-app/src/common/image/image.config.ts
Labels: enhancement, back-end

#273 Feat/api update user setting in channel#242
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/get-user-setting-in-channel-res.dto.ts
  back/web-app/src/channels/channel/dto/is-muted-user-req.dto.ts
  back/web-app/src/channels/channel/dto/update-user-setting-in-channel-req.dto.ts
  back/web-app/src/channels/channel/entities/ban.entity.ts
  back/web-app/src/channels/channel/entities/channel.entity.ts
  back/web-app/src/channels/channel/enum/user-setting-status.enum.ts
  back/web-app/src/channels/channel/exception/channel-exception.service.ts
  back/web-app/src/channels/channel/link-channel-to-user.service.ts
  back/web-app/src/channels/channel/mute/mute.service.ts
  back/web-app/src/channels/channel/user-setting/ban.provider.ts
  back/web-app/src/channels/channel/user-setting/mute.provider.ts
  back/web-app/src/channels/channel/user-setting/user-setting.service.ts
  back/web-app/src/channels/channels.module.ts
Labels: enhancement, back-end

#268 [Refactor] 로그인시 리다이렉트 위치 수정
  back/web-app/src/common/response/redirect-resource.enum.ts
  back/web-app/src/login/login.controller.ts
Labels: refactor, back-end

#277 [Fix] 0920 - TEST
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/login/login.controller.ts
Labels: bug, fix, back-end

#281 [Refactor] 채팅 메시지 업데이트
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/chat/chat.service.ts
  back/web-app/src/chat/dto/send-chat-message.dto.ts
Labels: refactor, back-end

#279 [Refactor] Cors 옵션 업데이트
  back/web-app/src/common/cors/cors.options.ts
  back/web-app/src/login/login.controller.ts
Labels: refactor, back-end

#283 Feat/update recent message#282
  back/web-app/src/channels/channel/channel.service.ts
  back/web-app/src/channels/channel/dto/recent-message.dto.ts
  back/web-app/src/chat/chat.module.ts
  back/web-app/src/chat/chat.service.ts
  back/web-app/src/chat/dto/add-my-channel-res.dto.ts
Labels: enhancement, back-end

#288 [Refactor] 매치 신청 수정 (자신에게 보내는 경우)
  back/web-app/src/main/match/match.service.ts
Labels: refactor, back-end

#285 [Refactor] Game 패들 충돌 수정
  back/game-app/src/game/mode/game.abstract.ts
  back/game-app/src/game/mode/object/game-object.option.ts
  back/game-app/src/game/mode/speed-game.ts
Labels: refactor, back-end

#280 [Feat] API - Block
  back/web-app/src/app.module.ts
  back/web-app/src/block/block.module.ts
  back/web-app/src/block/block.service.ts
  back/web-app/src/block/dto/block.dto.ts
  back/web-app/src/channels/channel/channel.controller.ts
  back/web-app/src/channels/channel/dto/recent-message-at-enter.dto.ts
  back/web-app/src/channels/channel/exception/channel-exception.service.ts
  back/web-app/src/channels/channels.module.ts
  back/web-app/src/chat/chat.module.ts
  back/web-app/src/chat/chat.service.ts
  back/web-app/src/message/enums/message-type.enum.ts
  back/web-app/src/message/message.service.ts
  back/web-app/src/users/memoryuser/dto/add-user-block.dto.ts
  back/web-app/src/users/memoryuser/dto/delete-user-block.dto.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
Labels: enhancement, back-end

#278 Fix/channel page#263
  front/src/app/(auth)/login/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/Chat.tsx
  front/src/app/(main)/chats/[channelId]/ChannelChatting.tsx
  front/src/app/(main)/chats/[channelId]/ChannelEdit.tsx
  front/src/app/(main)/chats/[channelId]/ChatItem.tsx
  front/src/app/(main)/chats/[channelId]/UserItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/game/Board.tsx
  front/src/app/game/ScoreBoard.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Modal/AddFriend.tsx
  front/src/component/Modal/CreateChannel.tsx
  front/src/component/Modal/EnterChannel.tsx
  front/src/component/Modal/SetChannel.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/component/Modal/SetUser.tsx
  front/src/component/Socket/GameInvite.tsx
  front/src/component/Socket/index.tsx
  front/src/component/Toggle/ProfileToggle.tsx
  front/src/component/Toggle/SetUserToggle.tsx
  front/src/hooks/useGameSocket.ts
  front/src/styles/theme.ts
  front/src/types/IChannel.ts
  front/src/utils/truncateString.ts
Labels: front-end

#296 feat/merge front dev
  front/package-lock.json
  front/package.json
  front/src/app/(auth)/login/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/Chat.tsx
  front/src/app/(main)/chats/[channelId]/ChannelChatting.tsx
  front/src/app/(main)/chats/[channelId]/ChannelEdit.tsx
  front/src/app/(main)/chats/[channelId]/ChatItem.tsx
  front/src/app/(main)/chats/[channelId]/UserItem.tsx
  front/src/app/(main)/history/[user]/page.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/AchievementItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/AchievementItem.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/(main)/startgame/GameMode.tsx
  front/src/app/(main)/startgame/page.tsx
  front/src/app/game/Board.tsx
  front/src/app/game/ScoreBoard.tsx
  front/src/app/page.tsx
  front/src/component/Buttons/index.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Modal/AddFriend.tsx
  front/src/component/Modal/CreateChannel.tsx
  front/src/component/Modal/EnterChannel.tsx
  front/src/component/Modal/InvalidMsg.tsx
  front/src/component/Modal/SetChannel.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/component/Modal/SetUser.tsx
  front/src/component/Modal/index.tsx
  front/src/component/ProfileImage/index.tsx
  front/src/component/Socket/GameInvite.tsx
  front/src/component/Socket/index.tsx
  front/src/component/Toggle/ProfileToggle.tsx
  front/src/component/Toggle/SetUserToggle.tsx
  front/src/hooks/useGameSocket.ts
  front/src/hooks/useSocket.ts
  front/src/styles/theme.ts
  front/src/types/IChannel.ts
  front/src/utils/AxiosApiHadling.tsx
  front/src/utils/axios.ts
  front/src/utils/recoil/atom.ts
  front/src/utils/truncateString.ts
Labels: front-end

#297 [Refactor] Update Setting
  Makefile
  docker-compose.yml
  docker/back/srcs/app/tools/app.sh
  docker/back/srcs/postgres/Dockerfile
  docker/back/srcs/web-app/tools/app.sh
  package-lock.json
  package.json
Labels: enhancement, chore

#300 feat : 10mb 크기 넘어가는 파일 처리 및 ban 될 때 에러메시지 띄우기
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/component/Modal/index.tsx
Labels: front-end
