Repository 5GoInMul-Transcendence/ft_transcendence, pull requests merged in 2023-07, with the labels that each got.

#8 feat: build new front project, add front-dev branch
  front/.eslintrc.json
  front/.gitignore
  front/README.md
  front/next.config.js
  front/package-lock.json
  front/package.json
  front/public/next.svg
  front/public/vercel.svg
  front/src/app/favicon.ico
  front/src/app/globals.css
  front/src/app/layout.tsx
  front/src/app/page.module.css
  front/src/app/page.tsx
  front/tsconfig.json
Labels: front

#13 [Docs] 리드미 추가 및 dockerfile에서 필요 없는 주석 삭제
  .github/implementation-report.md
  README.md
  docker/back/srcs/app/Dockerfile
  docker/back/srcs/pre_Makefile
  readme_contents/image.png
Labels: documentation

#15 feat: 로그인 회원가입 페이지 약식으로 만들기#14
  .github/pull_request_template.md
  .gitignore
  back/web-app/.dummy_git/HEAD
  back/web-app/.dummy_git/config
  back/web-app/.dummy_git/description
  back/web-app/.dummy_git/hooks/applypatch-msg.sample
  back/web-app/.dummy_git/hooks/commit-msg.sample
  back/web-app/.dummy_git/hooks/fsmonitor-watchman.sample
  back/web-app/.dummy_git/hooks/post-update.sample
  back/web-app/.dummy_git/hooks/pre-applypatch.sample
  back/web-app/.dummy_git/hooks/pre-commit.sample
  back/web-app/.dummy_git/hooks/pre-merge-commit.sample
  back/web-app/.dummy_git/hooks/pre-push.sample
  back/web-app/.dummy_git/hooks/pre-rebase.sample
  back/web-app/.dummy_git/hooks/pre-receive.sample
  back/web-app/.dummy_git/hooks/prepare-commit-msg.sample
  back/web-app/.dummy_git/hooks/push-to-checkout.sample
  back/web-app/.dummy_git/hooks/update.sample
  back/web-app/.dummy_git/info/exclude
  back/web-app/.eslintrc.js
  back/web-app/.gitignore
  back/web-app/.prettierrc
  back/web-app/README.md
  back/web-app/nest-cli.json
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/app.controller.spec.ts
  back/web-app/src/app.controller.ts
  back/web-app/src/app.module.ts
  back/web-app/src/app.service.ts
  back/web-app/src/main.ts
  back/web-app/test/app.e2e-spec.ts
  back/web-app/test/jest-e2e.json
  back/web-app/tsconfig.build.json
  back/web-app/tsconfig.json
  docker/back/Makefile
  docker/back/srcs/app/Dockerfile
  docker/back/srcs/app/tools/app.sh
  docker/back/srcs/docker-compose.yml
  docker/back/srcs/postgres/Dockerfile
  docker/back/srcs/pre_Makefile
  docker/init_docker.sh
  front/next.config.js
  front/package-lock.json
  front/package.json
  front/src/app/favicon.ico
  front/src/app/globals.css
  front/src/app/layout.tsx
  front/src/app/login/page.tsx
  front/src/app/page.module.css
  front/src/app/page.tsx
  front/src/app/registry.tsx
  front/src/app/signup/page.tsx
  front/src/app/styles.tsx
  front/src/component/Pong/index.tsx
  front/src/hooks/useInput.ts
  front/src/styles/global-style.ts
  front/src/styles/style.d.ts
  front/src/styles/theme.ts
  front/tsconfig.json
Labels: enhancement, front-end

#22 feat : mockup data 생성 및 axios, swr 세팅#19
  front/package-lock.json
  front/package.json
  front/src/app/api/README.md
  front/src/app/api/friends/data.json
  front/src/app/api/friends/route.ts
  front/src/component/FriendList/index.tsx
  front/src/types/IFriends.ts
  front/src/utils/fetcher.ts
Labels: enhancement

#27 [Feat] 휴대폰 및 이메일 인증코드 보내기 close #26
  back/web-app/nest-cli.json
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/app.module.ts
  back/web-app/src/auth/auth.helper.ts
  back/web-app/src/auth/mail/mail.config.ts
  back/web-app/src/auth/mail/mail.module.ts
  back/web-app/src/auth/mail/mail.service.ts
  back/web-app/src/auth/sms/sms.module.ts
  back/web-app/src/auth/sms/sms.service.ts
  back/web-app/src/templates/authenticate.mail.ejs
  package-lock.json
  package.json
Labels: enhancement, back-end

#28 Feat/profile page#23
  front/src/app/(main)/profile/ProfileItem.tsx
  front/src/app/(main)/profile/page.tsx
  front/src/component/Buttons/Button.tsx
  front/src/component/Buttons/index.tsx
  front/src/component/Toggle/index.tsx
  front/src/hooks/useToggle.ts
Labels: front-end
