Repository 5GoInMul-Transcendence/ft_transcendence, pull requests merged in 2023-08, with the labels that each got.

#30 Feat/test chat server#24
  front/package-lock.json
  front/package.json
  front/socketServer/css/main.css
  front/socketServer/index.html
  front/socketServer/index.js
  front/socketServer/js/main.js
  front/socketServer/package-lock.json
  front/socketServer/package.json
  front/src/app/(main)/chats/Chat.tsx
  front/src/app/(main)/chats/ChatMessageBox.tsx
  front/src/app/(main)/chats/page.tsx
  front/src/hooks/useSocket.ts
  front/src/types/IMessage.ts
Labels: enhancement, front-end

#37 Feat/chatting page#36
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/[channelid]/ChatItem.tsx
  front/src/app/(main)/chats/[channelid]/page.tsx
  front/src/app/(main)/chats/layout.tsx
  front/src/app/(main)/layout.tsx
Labels: front-end

#40 Feat/profile edit page#23
  front/public/pencil.png
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/AchievementItem.tsx
  front/src/app/(main)/myprofile/MatchItem.tsx
  front/src/app/(main)/myprofile/edit/AuthSelect.tsx
  front/src/app/(main)/myprofile/edit/EditItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/AchievementItem.tsx
  front/src/app/(main)/profile/[user]/MatchItem.tsx
  front/src/app/(main)/profile/[user]/ProfileItem.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Pong/index.tsx
Labels: front-end

#57 Feat/implement 42 O-Auth signup and login
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/app.controller.spec.ts
  back/web-app/src/app.controller.ts
  back/web-app/src/app.module.ts
  back/web-app/src/app.service.ts
  back/web-app/src/common/response/api-response-form.ts
  back/web-app/src/common/response/fail/http-exception.filter.ts
  back/web-app/src/common/response/redirect-resource.enum.ts
  back/web-app/src/common/response/success-or-redirection/response.interceptor.ts
  back/web-app/src/configs/typeorm.config.ts
  back/web-app/src/login/ft-auth.guard.ts
  back/web-app/src/login/ft.strategy.ts
  back/web-app/src/login/login.controller.ts
  back/web-app/src/login/login.module.ts
  back/web-app/src/login/login.service.ts
  back/web-app/src/main.ts
  back/web-app/src/session/auth.middleware.ts
  back/web-app/src/session/session.module.ts
  back/web-app/src/session/session.service.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.module.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/user/dto/create-member-user.dto.ts
  back/web-app/src/user/dto/create-oauth-user.dto.ts
  back/web-app/src/user/dto/create-user.dto.ts
  back/web-app/src/user/member-user.entity.ts
  back/web-app/src/user/oauth-user.entity.ts
  back/web-app/src/user/service-provider.enum.ts
  back/web-app/src/user/twoFactor-status.enum.ts
  back/web-app/src/user/user.entity.ts
  back/web-app/src/user/user.module.ts
  back/web-app/src/user/user.service.ts
Labels: enhancement, back-end

#61 [Refactor] 데이터베이스 모듈화 진행 #58
  back/web-app/src/app.module.ts
  back/web-app/src/common/database/database.config.ts
  back/web-app/src/common/database/database.module.ts
  back/web-app/src/configs/typeorm.config.ts
Labels: refactor, back-end

#70 [Feat] MemoryUserService #34
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/app.module.ts
  back/web-app/src/block/block.entity.ts
  back/web-app/src/friend/entities/follower.entity.ts
  back/web-app/src/friend/entities/friend.entity.ts
  back/web-app/src/login/login.controller.ts
  back/web-app/src/login/login.module.ts
  back/web-app/src/login/login.service.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.module.ts
  back/web-app/src/user/twoFactor-status.enum.ts
  back/web-app/src/users/dto/create-member-user.dto.ts
  back/web-app/src/users/dto/create-oauth-user.dto.ts
  back/web-app/src/users/dto/create-user.dto.ts
  back/web-app/src/users/entities/member-user.entity.ts
  back/web-app/src/users/entities/oauth-user.entity.ts
  back/web-app/src/users/entities/user.entity.ts
  back/web-app/src/users/enums/service-provider.enum.ts
  back/web-app/src/users/enums/twoFactor-status.enum.ts
  back/web-app/src/users/enums/user-status.enum.ts
  back/web-app/src/users/memoryuser/dto/add-user-follower.dto.ts
  back/web-app/src/users/memoryuser/dto/add-user-friend.dto.ts
  back/web-app/src/users/memoryuser/dto/delete-user-follower.dto.ts
  back/web-app/src/users/memoryuser/dto/delete-user-friend.dto.ts
  back/web-app/src/users/memoryuser/dto/find-user-by-nickname.dto.ts
  back/web-app/src/users/memoryuser/dto/find-user.dto.ts
  back/web-app/src/users/memoryuser/dto/update-memory-user.dto.ts
  back/web-app/src/users/memoryuser/memory-user.provider.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
  back/web-app/src/users/memoryuser/memory-user.ts
  back/web-app/src/users/user/dto/user.dto.ts
  back/web-app/src/users/user/user.module.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#75 [Feat] API - 마이 프로필 조회 #48
  back/web-app/src/users/me/dto/game-record.dto.ts
  back/web-app/src/users/me/dto/get-user-profile-res.dto.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/user/user.module.ts
Labels: enhancement, back-end

#76 [Feat] chatting info page#36
  front/public/right-from-bracket-solid.svg
  front/public/send.svg
  front/public/setting.svg
  front/src/app/(auth)/2fa/page.tsx
  front/src/app/(auth)/layout.tsx
  front/src/app/(auth)/login/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(auth)/styles.tsx
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/Chat.tsx
  front/src/app/(main)/chats/[channelName]/ChatItem.tsx
  front/src/app/(main)/chats/[channelName]/edit/UserItem.tsx
  front/src/app/(main)/chats/[channelName]/edit/page.tsx
  front/src/app/(main)/chats/[channelName]/page.tsx
  front/src/app/(main)/chats/layout.tsx
  front/src/app/login/page.tsx
  front/src/app/signup/page.tsx
  front/src/component/FriendList/index.tsx
Labels: front-end

#89 [Feat] getUsetProfileDetailDto 추가 #84
  back/web-app/src/users/me/dto/get-user-profile-details-res.dto.ts
  back/web-app/src/users/me/me.controller.ts
Labels: enhancement, back-end

#90 [Refactor] findUserByUserId 메서드명 수정 #77
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
Labels: enhancement, back-end

#93 [Feat] match history page#43
  front/src/app/(main)/myprofile/MatchItem.tsx
  front/src/app/(main)/myprofile/edit/AuthSelect.tsx
  front/src/app/(main)/myprofile/history/MatchResult.tsx
  front/src/app/(main)/myprofile/history/page.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/MatchItem.tsx
  front/src/app/(main)/profile/[user]/history/MatchResult.tsx
  front/src/app/(main)/profile/[user]/history/page.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/api/match/data.json
  front/src/app/api/match/route.ts
  front/src/types/IMatch.ts
Labels: front-end

#92 [Feat] API - 상대방 프로필 조회 #50
  back/web-app/src/users/me/dto/get-user-profile-by-nickname-req.dto.ts
  back/web-app/src/users/me/dto/get-user-profile-by-nickname-res.dto.ts
  back/web-app/src/users/me/me.controller.ts
Labels: enhancement, back-end

#95 [Refactor] WebConfig - Port 8080 수정 #74
  back/web-app/src/main.ts
Labels: enhancement, back-end

#88 Feat/login member user#39
  back/web-app/src/login/dto/login-member-user-req.dto.ts
  back/web-app/src/login/login.controller.ts
  back/web-app/src/signup/dto/signup-member-req.dto.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/user/dto/create-member-user.dto.ts
  back/web-app/src/users/user/user.module.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#85 [Feat] Member 회원가입 구현 완료
  back/web-app/src/login/login.controller.ts
  back/web-app/src/signup/dto/signup-member-req.dto.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/user/dto/create-member-user.dto.ts
  back/web-app/src/users/user/user.module.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#96 [Feat] WebSecure - Cors 구현 #73
  back/web-app/src/common/cors/cors.options.ts
  back/web-app/src/main.ts
Labels: enhancement, back-end

#87 Chore/update issue templates name and pull request template
  .github/ISSUE_TEMPLATE/docs-report.md
  .github/ISSUE_TEMPLATE/feat-report.md
  .github/pull_request_template.md
Labels: chore

#100 [Feat] API - 메일 인증코드 전송 #53
  back/web-app/src/app.module.ts
  back/web-app/src/auth/auth-info.ts
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/auth/auth.module.ts
  back/web-app/src/auth/auth.service.ts
  back/web-app/src/auth/dto/auth-mail-req.dto.ts
  back/web-app/src/auth/dto/auth-mail.dto.ts
Labels: enhancement, back-end

#109 [Feat] API - 인증코드 확인 #99
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/auth/auth.module.ts
  back/web-app/src/auth/auth.service.ts
  back/web-app/src/auth/dto/check-auth-code-req.dto.ts
  back/web-app/src/auth/dto/check-auth-code.dto.ts
  back/web-app/src/users/user/dto/update-user.dto.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#108 [Feat] API - 핸드폰 인증코드 전송 #98
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/auth/auth.module.ts
  back/web-app/src/auth/auth.service.ts
  back/web-app/src/auth/dto/auth-phone-req.dto.ts
  back/web-app/src/auth/dto/auth-phone.dto.ts
Labels: enhancement, back-end

#113 [Fix] 중괄호 이슈
  back/web-app/src/auth/auth.controller.ts
  back/web-app/src/auth/auth.service.ts
Labels: enhancement, back-end

#112 [Feat] API - 친구 리스트 조회 #54
  back/web-app/src/friend/dto/get-friends-info.dto.ts
  back/web-app/src/friend/friend-info.ts
  back/web-app/src/friend/friend.controller.ts
  back/web-app/src/friend/friend.service.ts
  back/web-app/src/users/memoryuser/memory-user.provider.ts
Labels: enhancement, back-end

#114 [Feat] API - 닉네임 수정 #52
  back/web-app/src/users/me/dto/update-nickname-req.dto.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/memoryuser/dto/check-duplicate-nickname.dto.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
Labels: enhancement, back-end

#117 [Chore] API 상세 프로필 조회 / 주석 제거 #111
  back/web-app/src/users/me/me.controller.ts
Labels: back-end, chore

#116 [Feat] API - twofactor 수정 #115
  back/web-app/src/users/me/dto/update-twofactor-req.dto.ts
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/memoryuser/dto/check-available-twofactor.dto.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
Labels: enhancement, back-end

#121 [Chore] API - 상대방 프로필 조회 / 코드 이동 #110
  back/web-app/src/users/me/me.controller.ts
  back/web-app/src/users/user/dto/get-user-profile-by-nickname-req.dto.ts
  back/web-app/src/users/user/dto/get-user-profile-by-nickname-res.dto.ts
  back/web-app/src/users/user/user.controller.ts
  back/web-app/src/users/user/user.module.ts
Labels: back-end, chore

#119 [Fix] lodash 런타임 에러 해결 #118
  back/web-app/src/app.module.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
  back/web-app/tsconfig.json
Labels: bug, back-end

#127 feat: add-memoryUser-at-createUser-in-signupMember#107
  back/web-app/src/signup/signup.controller.ts
Labels: enhancement, back-end

#129 Feat/add memory user in oauth user signup#128
  .github/ISSUE_TEMPLATE/docs-report.md
  .github/ISSUE_TEMPLATE/feat-report.md
  .github/pull_request_template.md
  back/web-app/src/login/login.controller.ts
Labels: enhancement, back-end

#126 Refactor/change parameter of UserService.createUser#125
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/users/user/user.service.ts
Labels: refactor, back-end

#130 refactor: modify-the-message-when-the-username-or-password-is-incorrect
  back/web-app/src/login/login.controller.ts
  back/web-app/src/signup/signup.controller.ts
Labels: refactor, back-end

#132 refactor: 42 oauth 에 요청하는 필요 없는 정보 삭제#131
  back/web-app/src/login/ft.strategy.ts
Labels: refactor, back-end

#136 Feat/chatting front api#135
  front/socketServer/index.js
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/ChannelList.tsx
  front/src/app/(main)/chats/[channelId]/ChannelEdit.tsx
  front/src/app/(main)/chats/[channelId]/ChatItem.tsx
  front/src/app/(main)/chats/[channelId]/UserItem.tsx
  front/src/app/(main)/chats/[channelId]/page.tsx
  front/src/app/(main)/chats/[channelName]/edit/page.tsx
  front/src/app/(main)/chats/[channelName]/page.tsx
  front/src/app/(main)/chats/layout.tsx
  front/src/app/(main)/chats/page.tsx
  front/src/app/api/channel/[channelId]/data.json
  front/src/app/api/channel/[channelId]/route.ts
  front/src/app/api/channel/setting/[channelid]/data.json
  front/src/app/api/channel/setting/[channelid]/route.ts
  front/src/app/api/channels/data.json
  front/src/app/api/channels/route.ts
  front/src/app/api/me/channels/data.json
  front/src/app/api/me/channels/route.ts
  front/src/types/IChannel.ts
  front/src/types/IMessage.ts
Labels: front-end

#137 [Feat] startgame page, game serve socket #101 #124
  front/socketServer/index.js
  front/src/app/(main)/chats/Chat.tsx
  front/src/app/(main)/startgame/page.tsx
  front/src/app/game/GameBoard.tsx
  front/src/app/game/ScoreBoard.tsx
  front/src/app/game/page.tsx
  front/src/hooks/useSocket.ts
  front/src/styles/theme.ts
  front/src/types/IGameObject.ts
Labels: front-end

#140 [fix] profile page css 수정#139
  front/src/app/(main)/myprofile/MatchItem.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/AchievementItem.tsx
  front/src/app/(main)/profile/[user]/ProfileItem.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/component/Buttons/index.tsx
  front/src/component/MatchItem/index.tsx
  front/src/component/Toggle/index.tsx
Labels: front-end

#146 Feat/profile page api 및 useSwrFetcher 훅 #139
  front/public/pen-white.svg
  front/public/pen.svg
  front/src/app/(main)/myprofile/AchievementItem.tsx
  front/src/app/(main)/myprofile/edit/AuthSelect.tsx
  front/src/app/(main)/myprofile/edit/EditItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/ProfileItem.tsx
  front/src/app/api/me/data.json
  front/src/app/api/me/details/data.json
  front/src/app/api/me/details/route.ts
  front/src/app/api/me/route.ts
  front/src/app/api/user/[nickname]/data.json
  front/src/app/api/user/[nickname]/route.ts
  front/src/hooks/useSwrFetcher.ts
  front/src/types/IUser.tsx
Labels: front-end

#160 [Feat] api 테스트를 위한 도커세팅
  back/web-app/src/common/database/database.config.ts
  back/web-app/src/login/login.controller.ts
  docker/back/srcs/app/tools/app.sh
  docker/back/srcs/docker-compose.yml
Labels: enhancement

#162 Feat/generate random id#149
  back/web-app/src/login/login.controller.ts
  back/web-app/src/login/login.module.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.module.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/users/memoryuser/dto/get-user-by-nickname.dto.ts
  back/web-app/src/users/memoryuser/memory-user.service.ts
  back/web-app/src/users/user/dto/create-user.dto.ts
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#167 [Feat] modal 적용 및 api #164
  front/package-lock.json
  front/package.json
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/chats/[channelId]/ChannelEdit.tsx
  front/src/app/(main)/chats/[channelId]/UserItem.tsx
  front/src/app/(main)/chats/layout.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/myprofile/edit/EditItem.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/layout.tsx
  front/src/component/Input/index.tsx
  front/src/component/Modal/AddFriend.tsx
  front/src/component/Modal/CreateChannel.tsx
  front/src/component/Modal/EnterChannel.tsx
  front/src/component/Modal/InvedMatch.tsx
  front/src/component/Modal/SetChannel.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/component/Modal/SetUser.tsx
  front/src/component/Modal/index.tsx
  front/src/types/IUser.tsx
  front/src/utils/recoil/atom.ts
Labels: front-end

#165 feat: hasg-the-member-password#69
  back/web-app/package-lock.json
  back/web-app/package.json
  back/web-app/src/login/login.controller.ts
  back/web-app/src/signup/signup.controller.ts
  back/web-app/src/signup/signup.service.ts
  back/web-app/src/users/user/entities/member-user.entity.ts
Labels: enhancement, back-end

#168 bug: 아이디 및 비밀번호 틀렸을 시 잘못된 HTTP status code로 오는 것 수정#158
  back/web-app/src/common/response/api-response-form.ts
  back/web-app/src/common/response/fail/http-exception.filter.ts
  back/web-app/src/common/response/success-or-redirection/response.interceptor.ts
Labels: enhancement, back-end

#171 [Feat] 유저 회원가입시 프렌즈, 팔로워 DB에 추가
  back/web-app/src/users/user/user.service.ts
Labels: enhancement, back-end

#169 Feat/api test front
  front/src/app/(auth)/login/page.tsx
  front/src/app/(auth)/signup/page.tsx
  front/src/app/(main)/chats/ChannelItem.tsx
  front/src/app/(main)/layout.tsx
  front/src/app/(main)/main/page.tsx
  front/src/app/(main)/myprofile/edit/AuthSelect.tsx
  front/src/app/(main)/myprofile/edit/page.tsx
  front/src/app/(main)/myprofile/history/page.tsx
  front/src/app/(main)/myprofile/page.tsx
  front/src/app/(main)/profile/[user]/AchievementItem.tsx
  front/src/app/(main)/profile/[user]/history/page.tsx
  front/src/app/(main)/profile/[user]/page.tsx
  front/src/app/api/channels/data.json
  front/src/app/game/GameBoard.tsx
  front/src/app/layout.tsx
  front/src/app/test/page.tsx
  front/src/component/FriendList/index.tsx
  front/src/component/Modal/AddFriend.tsx
  front/src/component/Modal/AuthMail.tsx
  front/src/component/Modal/AuthPhone.tsx
  front/src/component/Modal/Error.tsx
  front/src/component/Modal/InvalidMsg.tsx
  front/src/component/Modal/SetNick.tsx
  front/src/component/Modal/index.tsx
  front/src/hooks/useSocket.ts
  front/src/hooks/useSwrFetcher.ts
  front/src/types/IFriends.ts
  front/src/types/IResStatus.ts
  front/src/types/IResponse.ts
  front/src/utils/AxiosApiHadling.tsx
  front/src/utils/axios.ts
  front/src/utils/fetcher.ts
  front/src/utils/mockFetcher.ts
  front/src/utils/recoil/atom.ts
Labels: front-end
